@import "_vars.scss";

$header-height: 40vh;

header {
  background: url("../assets/banner.svg");
  background-size: cover;
  height: $header-height;
  display: flex;
  justify-content: center;

  .logo {
    margin-top: 10vh;
    max-height: 15vh;
    max-width: 60vw;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 15vh;
    top: calc(#{$header-height} - 15vh);
    margin-top: 1px;
    fill: $brand-light;
    stroke: $brand-primary;
  }
}