@import "_vars.scss";

$header-height: 25vh;

header {
  background: url("../assets/banner.svg"), linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(255,255,255,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  height: $header-height;
  display: flex;
  justify-content: center;

  .logo {
    margin-top: 3vh;
    max-height: 25vh;
    max-width: 60vw;
  }

  border-bottom: 10px solid $brand-primary;
  margin: 0;

}