@import "./_vars.scss";

body {
  margin: 0;
  background: $brand-light;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.site-header {
  grid-area: header;
}

.content {
  margin: 0;
  min-height:100vh;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    min-height: 100vh;
    width: 100vw;
    &:not(:last-child){
      border-bottom: 3px solid $brand-highlight;
    }
    background: lighten($brand-primary, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .mission {
    background: darken($brand-dark, 10);
    color: $brand-light;
    margin:0;
    padding:35px 15px 15px;
    text-align: center;
    border-bottom: 5px solid $brand-primary;
    width: 100vw;
  }

  .ctas {
    min-height: 40vh;
    margin-bottom: 5vh;
    padding: 5vh;
    border-bottom: 1px solid $brand-highlight;
  }

  @media(min-width: $breakpoint-lg) {
    .ctas {
      width: 100%;
      max-width: 1024px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .cta {
    background: lighten($brand-light, 7);
    border: 2px solid $brand-dark;
    border-radius: 5px;
    width: 250px;
    max-height: 30vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 15px;
  }

  .cta-icon {
    opacity: .8;
    font-size: 100px;
    color: $brand-primary;
    transition: opacity .25s ease-in-out;
  }

  .cta-info {
    color: $brand-dark;
    text-align: center;
  }

  .cta:hover {
    background: lighten($brand-light, 10);
    border: 2px solid $brand-dark;

    .cta-icon {
      opacity: 1;
    }
  }


}

.site-footer {
  grid-area: footer;
}

