@import "./_vars.scss";

body {
  margin: 0;
  background: $brand-light;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
}

.site-header {
  grid-area: header;
}

.content {
  margin: 0;
  min-height:100vh;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    min-height: 100vh;
    width: 100vw;
    &:not(:last-child){
      border-bottom: 3px solid $brand-highlight;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .ctas {
    min-height: 40vh;
    border-bottom: 1px solid $brand-highlight;
  }

  @media(min-width: $breakpoint-lg) {
    .ctas {
      width: 100%;
      max-width: 1024px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .cta {
    background: lighten($brand-light, 7);
    border: 2px solid $brand-dark;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3vh;
  }

  .cta-icon {
    opacity: 1;
    font-size: 100px;
    color: $brand-primary;
    transition: opacity .1s ease-in-out;
  }

  .cta-info {
    color: $brand-dark;
    text-align: center;
  }

  .cta:hover {
    background: lighten($brand-light, 10);
    border: 2px solid $brand-primary;

    .cta-icon {
      opacity: .8;
    }

    .cta-info {
      color: $brand-primary;
      text-align: center;
    }
  }
}

.site-footer {
  grid-area: footer;
}

#signup {
  h2 {
    font-weight: 200;
    max-width: 350px;
    text-align: center;
  }
  img {
    max-width: 250px;
  }
  form {
    input {
      width: 100%;
      margin: 5px;
    }
  }
}
